.top-bar {
	background: $nav-bkg;
	color: $nav-text;
}

.top-bar-left {
	background: $nav-bkg;
	color: $nav-text;
}

.top-bar ul {
	
	background: $nav-bkg;
}

.menu-text {
	
	background: $nav-bkg;
}

.menu-item {
	
	background: $nav-bkg;
}